fastapi==0.115.8
uvicorn==0.34.0
pydantic==2.10.6
fastembed==0.5.1
numpy==2.2.3
pdfplumber==0.11.5
python-dotenv==1.0.1
python-multipart==0.0.20
requests==2.32.3
pymongo==4.11.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
google-auth==2.38.0
rapidfuzz==3.13.0
reportlab>=3.6.0
